@import "./_variables";
@import "./_mixin";

/* basic style */
* {
  box-sizing: border-box;
}
html,
body {
  font-size: 62.5%;
  margin: 0;
  overflow-x: hidden;
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体",
    "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
}
a {
  text-decoration: none;
  color: #333;
}
img {
  display: block;
}
ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
figure {
  margin: 0;
}

/* basic class */
.wrap {
  width: 80%;
  margin: 0 auto;
  @include mq(md) {
    width: 90%;
  }
  @include mq(sm) {
    width: 100%;
    padding: 0 10px;
  }
}
.section_wrap {
  margin: 30px 0;
}
.flex {
  display: flex;
}
.font_bold {
  font-weight: bold;
}
.section_heading {
  font-size: 4.8rem;
}
.section_heading_sm {
  font-size: 3.8rem;
}
.section_heading_xs {
  font-size: 2.4rem;
}
.clear_both {
  clear: both;
}
.basic_balloon {
  position: relative;
  width: 100%;
  background: $basic_color;
  padding: 10px;
  text-align: center;
  color: #ffffff;
  font-size: 1.6rem;
  font-weight: bold;
  &::after {
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    pointer-events: none;
    position: absolute;
    border-color: rgba(238, 122, 5, 0);
    border-top-width: 10px;
    border-bottom-width: 10px;
    border-left-width: 10px;
    border-right-width: 10px;
    margin-left: -10px;
    border-top-color: $basic_color;
    top: 100%;
    left: 50%;
  }
  &.right_arrow {
    &::after {
      margin-left: initial;
      border-top-color: initial;
      margin-top: -10px;
      border-left-color: $basic_color;
      left: 100%;
      top: 50%;
    }
  }
}
.basic_tel {
  font-size: 4.8rem;
  margin: 10px;
  line-height: 1em;
  span {
    font-size: 2.4rem;
    font-weight: 400;
  }
  @include mq(sm) {
    font-size: 3.5rem;
  }
}
.basic_time {
  font-size: 1.4rem;
  margin: 0;
  margin-top: -15px;
  margin-left: 55px;
}
.basic_ask_link {
  font-size: 2.4rem;
  border: 2px solid #333;
  position: relative;
  width: 100%;
  display: block;
  text-align: center;
  padding: 20px 0;
  &::after {
    content: "\025b6";
    color: $basic_color;
    position: absolute;
    top: calc(50% - 38px / 2);
    right: 1.5em;
    @include mq(sm) {
      right: 0;
    }
  }
  &:hover {
    background-color: #333;
    color: #fff;
  }
}
.basic_ask_wrap {
  width: 75%;
  margin: 0 auto;
  @include mq(sm) {
    width: 100%;
  }
}
.basic_ask_flex__wrap {
  justify-content: space-evenly;
  align-items: center;
  & + .basic_ask_link {
    margin-top: 15px;
  }
  @include mq(md) {
    flex-direction: column;
    .basic_balloon {
      margin-bottom: 10px;
      &::after {
        margin-top: initial;
        border-left-color: initial;
        margin-left: -10px;
        border-top-color: $basic_color;
        top: 100%;
        left: 50%;
      }
    }
  }
}
.sm_only {
  display: none;
  @include mq(sm) {
    display: block;
  }
}

/* animation */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* header menu */
.header-menu {
  background-color: rgba(255, 255, 255, 0.8);
  width: 40%;
  position: fixed;
  top: 0;
  right: 0;
  font-size: 2.4rem;
  @include mq(md) {
    width: 60%;
  }
  @include mq(sm) {
    width: 100%;
    font-size: 1.6rem;
  }
}
.header-menu__inner {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  padding: 10px 20px;
}
.header-menu__item {
  a {
    &.current {
      border-bottom: 4px solid $basic_color;
    }
  }
}

/* main visual */
.main-visual {
  background: url("../images/bg_front01.jpg") no-repeat;
  background-size: contain;
  background-position: right;
  height: 580px;
  .wrap {
    padding-top: 10%;
    @include mq(md) {
      padding-top: 15%;
    }
  }
  @include mq(md) {
    margin-top: -42px;
  }
  @include mq(sm) {
    background: url("../images/bg_front_sp01.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: initial;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.main-visual__heading {
  font-size: 6rem;
  margin: 0;
  animation-duration: 2s;
  animation-name: fadeIn;
  -webkit-animation-name: fadeIn;
  animation-fill-mode: backwards;
  @include mq(sm) {
    font-size: 3.5rem;
    text-align: center;
  }
}
.main-visual__text {
  font-size: 3.6rem;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-name: fadeIn;
  -webkit-animation-name: fadeIn;
  animation-fill-mode: backwards;
  @include mq(sm) {
    font-size: 2rem;
    text-align: center;
  }
}

/* about section */
.about-section__flex--wrap {
  gap: 30px;
  @include mq(md) {
    gap: 20px;
  }
  @include mq(sm) {
    flex-direction: column-reverse;
  }
}
.about-section__flex--before {
  @include mq(md) {
    width: 50%;
    img {
      width: 100%;
    }
  }
  @include mq(sm) {
    width: 100%;
  }
}
.about-section__flex--after {
  @include mq(md) {
    width: 50%;
  }
  @include mq(sm) {
    width: 100%;
  }
}
.about-section__image--bottom {
  margin-top: 10px;
}
.about-section__text {
  font-size: 1.8rem;
  margin-top: 0;
}
.about-section__image {
  margin-top: 50px;
  img {
    margin-left: auto;
  }
  @include mq(sm) {
    display: none;
  }
}

/* relief section */
.section_heading__mark--important {
  &::before {
    content: "\022";
    color: $basic_color;
  }
  &::after {
    content: "\022";
    color: $basic_color;
  }
}
.relief-section__flex--wrap {
  justify-content: space-between;
  @include mq(sm) {
    flex-direction: column;
  }
}
.relief-section__flex--item {
  width: 32%;
  height: 330px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  animation-name: fadeUp;
  animation-duration: 2s;
  animation-fill-mode: backwards;
  &.before {
    background: url("../images/bg_front02.jpg") no-repeat;
    background-size: cover;
  }
  &.middle {
    background: url("../images/bg_front03.jpg") no-repeat;
    background-size: cover;
    animation-delay: 1s;
  }
  &.after {
    background: url("../images/bg_front04.jpg") no-repeat;
    background-size: cover;
    animation-delay: 2s;
  }
  @include mq(sm) {
    width: 100%;
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
}
.relief-section__image {
  margin-top: 25px;
}
.relief-section__text {
  text-align: center;
  font-size: 1.8rem;
  background-color: rgba(205, 230, 239, 0.8);
  padding: 10px 20px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 110px;
  @include mq(md) {
    padding: 10px;
    height: 150px;
    width: 100%;
  }
}

/* example section */
.example-section {
  .section_heading {
    text-align: center;
    &::after {
      content: "";
      height: 1px;
      border: 4px solid #ccc;
      display: block;
    }
  }
}
@include mq(md) {
  .example-section__image {
    img {
      width: 100%;
    }
  }
}
.example-section__flex--wrap1 {
  justify-content: space-between;
  gap: 60px;
  .example-section__flex--item {
    width: 50%;
    @include mq(sm) {
      width: 100%;
    }
  }
  .example-section__text {
    font-size: 2.1rem;
    margin-top: 0;
  }
  @include mq(sm) {
    flex-direction: column;
    gap: 30px;
  }
}
.example-section__casestudy--wrap {
  background: url("../images/bg_front05.png") repeat;
  margin-top: 20px;
}
.example-section__casestudy--item {
  padding: 30px 0;
}
.example-section__casestudy--title {
  float: left;
  font-size: 1.8rem;
  &.orange {
    font-size: 2.4rem;
    background-color: $basic_color;
    color: #fff;
    padding: 0 10px;
    @include mq(sm) {
      float: initial;
    }
  }
}
.example-section__casestudy--detail {
  margin-left: 50px;
  font-size: 1.8rem;
  &.blue {
    font-size: 2.4rem;
    background-color: $basic_color2;
    color: #fff;
    padding-left: 7%;
    @include mq(md) {
      padding-left: 10%;
    }
  }
  .thin {
    font-weight: 400;
  }
  @include mq(sm) {
    margin-left: 0;
  }
}
.example-section__flex--wrap2 {
  margin: 20px 0 20px;
  justify-content: center;
  gap: 20px;
  align-items: center;
  @include mq(sm) {
    flex-direction: column;
  }
}
.example-section__flex--item {
  &.before {
    width: 57%;
    @include mq(sm) {
      width: 100%;
    }
  }
  &.after {
    width: 37%;
    @include mq(sm) {
      width: 100%;
    }
  }
}
.example-section__casestudy--image {
  img {
    width: 100%;
  }
}
.example-section__casestudy--text {
  font-size: 1.8rem;
  padding: 0 20px;
  & + dl {
    padding-left: 20px;
  }
}

/* merit section */
.merit-section {
  .section_heading {
    text-align: center;
    &::after {
      content: "";
      height: 1px;
      border: 4px solid #ccc;
      display: block;
    }
  }
  .section_heading_sm {
    text-align: center;
  }
}
.merit-section__flex--wrap {
  gap: 20px;
  @include mq(sm) {
    flex-direction: column;
  }
}
.merit-section__flex--item {
  width: 50%;
  @include mq(md) {
    img {
      width: 100%;
    }
  }
  @include mq(sm) {
    width: 100%;
  }
}
.merit-section__number {
  font-family: "Times New Roman";
  font-style: italic;
  font-weight: 400;
  color: #c60e00;
  font-size: 8rem;
}
.merit-section__detail--wrap {
  width: 80%;
  margin: 0 auto;
}
.merit-section__detail--title {
  float: left;
  font-size: 2.2rem;
  .merit-section__number {
    font-size: 4rem;
  }
  @include mq(md) {
    float: initial;
  }
}
.merit-section__detail--text {
  margin-left: 50px;
  padding-left: 8%;
  height: 46px;
  display: flex;
  justify-content: flex-start;
  align-items: end;
  font-size: 2.2rem;
  @include mq(md) {
    height: initial;
  }
  @include mq(sm) {
    margin-left: 10px;
  }
}

/* custom section */
.custom-section {
  .section_heading {
    text-align: center;
    &::after {
      content: "";
      height: 1px;
      border: 4px solid #ccc;
      display: block;
    }
  }
}
.custom-section__text {
  font-size: 2.1rem;
}
.custom-section__text--description {
  margin-top: 30px;
  padding: 20px 40px;
  background-color: #f8f5e7;
  font-size: 1.6rem;
  figure {
    margin-bottom: 15px;
    @include mq(sm) {
      img {
        width: 100%;
        max-width: 335px;
      }
    }
  }
}
.custom-section__number--specification {
  font-size: 2.2rem;
  background-color: $basic_color;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  float: left;
}
.custom-section__text--specification {
  font-size: 2.2rem;
}
.custom-section__flex--wrap1 {
  padding: 20px;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #e5e5e5;
  gap: 10px;
  @include mq(md) {
    justify-content: space-between;
  }
  .custom-section__flex--item {
    width: 24%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include mq(md) {
      width: 32%;
    }
    @include mq(md) {
      width: 100%;
    }
  }
  @include mq(sm) {
    flex-direction: column;
  }
}
.custom-section__heading--option {
  margin-bottom: 10px;
}
.custom-section__flex--title {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 77px;
  text-align: center;
}
.custom-section__flex--text {
  font-size: 2rem;
  text-align: center;
  height: 64px;
}
.custom-section__flex--logo {
  margin-bottom: 10px;
  &.large {
    margin-top: 15px;
  }
  &.small {
    margin-top: 20px;
  }
  @include mq(md) {
    img {
      width: 90%;
      margin: 0 auto;
    }
  }
}
.custom-section__link--cv {
  margin: 40px auto;
  display: block;
  width: 90%;
  border: 2px solid #333;
  padding: 10px 20px;
  text-align: center;
  &:hover {
    background-color: #333;
    color: #fff;
  }
  .large_text {
    font-size: 3.4rem;
    position: relative;
    &::before {
      content: "";
      background: url("../images/ico_front01.png") no-repeat;
      background-size: cover;
      display: inline-block;
      position: absolute;
      width: 34px;
      height: 34px;
      top: calc(50% - 34px / 2);
      left: -1.5em;
    }
    @include mq(md) {
      font-size: 2.4rem;
    }
  }
  .small_text {
    font-size: 1.8rem;
    color: #666;
    position: relative;
    &::after {
      content: "\025b6";
      color: $basic_color;
      position: absolute;
      top: calc(50% - 29px / 2);
      right: -1.5em;
    }
    @include mq(md) {
      font-size: 1.6rem;
    }
  }
  @include mq(md) {
    width: 100%;
  }
}
.custom-section__heading--alert {
  font-size: 1.8rem;
}
.custom-section__list--alert {
  font-size: 1.4rem;
  list-style: disc;
  display: flex;
  flex-wrap: wrap;
  margin-left: 3%;
  justify-content: space-between;
  & + .section_heading_sm {
    text-align: center;
    font-size: 3.2rem;
  }
}
.custom-section__item--alert {
  width: 45%;
}
.custom-section__flex--wrap2 {
  flex-wrap: wrap;
  .custom-section__flex--item {
    width: 33%;
    img {
      width: 100%;
    }
    @include mq(sm) {
      width: 50%;
    }
  }
  .text {
    background-color: #b2b2b2;
    color: #fff;
    font-size: 7.2rem;
    width: 33%;
    line-height: 3em;
    text-align: center;
    @include mq(md) {
      font-size: 4.5rem;
      line-height: initial;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    @include mq(sm) {
      display: none;
    }
  }
}

/* remodel section */
.remodel-section {
  .section_heading {
    text-align: center;
    &::after {
      content: "";
      height: 1px;
      border: 4px solid #ccc;
      display: block;
    }
  }
}
.remodel-section__flex--wrap {
  gap: 15px;
  justify-content: space-between;
  @include mq(sm) {
    flex-direction: column-reverse;
  }
}
.remodel-section__flex--item {
  width: 48%;
  &.before {
    .section_heading_xs {
      text-align: center;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        right: -0.5em;
        display: inline-block;
        width: 45px;
        height: 1px;
        background-color: #555;
        transform: rotate(-60deg);
      }
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: -0.5em;
        display: inline-block;
        width: 45px;
        height: 1px;
        background-color: #555;
        transform: rotate(60deg);
      }
    }
    @include mq(sm) {
      width: 100%;
    }
  }
  &.after {
    .basic_tel {
      margin-top: 30px;
      @include mq(md) {
        font-size: 4rem;
      }
      @include mq(md) {
        font-size: 3.2rem;
        text-align: center;
      }
    }
    .basic_ask_link {
      margin-top: 20px;
      &::after {
        @include mq(md) {
          right: 0.3em;
        }
      }
    }
    .basic_balloon {
      @include mq(md) {
        font-size: 1.5rem;
      }
    }
    .basic_time {
      @include mq(sm) {
        text-align: center;
      }
    }
    @include mq(sm) {
      width: 100%;
    }
  }
}
.remodel-section__image {
  img {
    width: 100%;
  }
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}
.remodel-section__caption {
  font-size: 1.4rem;
  margin-top: 5px;
}
.remodel-section__text--large {
  font-size: 5.2rem;
  margin: 20px 0;
  text-align: center;
  @include mq(md) {
    br {
      display: none;
    }
  }
}
.remodel-section__text {
  font-size: 2rem;
}
.remodel-section__banner {
  margin-bottom: 40px;
  @include mq(sm) {
    img {
      margin: 0 auto;
    }
  }
}

/* strengths section */
.strengths-section {
  .section_heading_xs {
    text-align: center;
  }
}
.strengths-section__main-visual {
  background: url("../images/bg_front06.jpg") no-repeat;
  background-size: cover;
  height: 355px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.strengths-section__catch {
  font-size: 4.8rem;
  color: #fff;
  text-align: center;
  @include mq(md) {
    font-size: 4rem;
  }
}
.strengths-section__text {
  font-size: 1.8rem;
  margin-top: 40px;
}

/* profile section */
.profile-section {
  .section_heading {
    text-align: center;
    &::after {
      content: "";
      height: 1px;
      border: 4px solid #ccc;
      display: block;
    }
  }
}
.profile-section__data-wrap {
  text-align: center;
  font-size: 1.5rem;
  width: 40%;
  margin: 0 auto;
  @include mq(sm) {
    width: 80%;
    max-width: 350px;
  }
}
.profile-section__data-title {
  float: left;
}
.profile-section__data-item {
  a {
    text-decoration: underline;
  }
}
.profile-section__logo {
  margin: 40px 0 20px;
  img {
    margin: 0 auto;
  }
}
.profile-section__text {
  font-size: 1.4rem;
}

/* footer */
.footer {
  margin-top: 80px;
  text-align: center;
}
.footer__copyrights {
  color: #575c88;
}
